{% extends 'base.html.twig' %}

{% block body %}
    <div style="display: flex; flex-direction: row;">
        <div class="mt-5 ml-5">
            <h4>Tags</h4>
            <form action="/tag" method="post">
                <input type="text" name="name">
                <input type="submit" value="add tag">
            </form>
            <h5 class="mt-3">List of tags</h5>
            {% for tag in tags %}
                <div style="display: flex; flex-direction: row;">
                    <form action="/tag" method="post">
                        {{ tag.id }}:
                        <input type="hidden" name="id" value="{{ tag.id }}">
                        <input type="text" name="name" value="{{ tag.name }}">
                        <input type="submit" value="edit">
                    </form>
                    <form action="/tag/{{ tag.id }}" method="post">
                        <input type="hidden" name="id" value="{{ tag.id }}">
                        <input type="submit" value="X">
                    </form>
                </div>
            {% endfor %}
        </div>

        <div class="ml-5 mt-5">
            <h4>Articles</h4>
            <form action="/article" method="post">
                <input type="text" name="title">
                <select name="tags[0]">
                    <option value="0">-- select --</option>
                    {% for tag in tags %}
                        <option value="{{ tag.id }}">{{ tag.name }}</option>
                    {% endfor %}
                </select>
                <select name="tags[1]">
                    <option value="0">-- select --</option>
                    {% for tag in tags %}
                        <option value="{{ tag.id }}">{{ tag.name }}</option>
                    {% endfor %}
                </select>
                <select name="tags[2]">
                    <option value="0">-- select --</option>
                    {% for tag in tags %}
                        <option value="{{ tag.id }}">{{ tag.name }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="add article">
            </form>
            <h5 class="mt-3">List of articles</h5>
            {% for article in articles %}
                <div style="display: flex; flex-direction: row;">
                    <form action="/article" method="post">
                        {{ article.id }}:
                        <input type="hidden" name="id" value="{{ article.id }}">
                        <input type="text" name="title" value="{{ article.title }}">
                        {% set i = 0 %}
                        {% for articleTag in article.tags %}
                            <select name="tags[{{ i }}]">
                                <option value="0">-- select --</option>
                                {% for tag in tags %}
                                    <option value="{{ tag.id }}" {% if articleTag.id == tag.id %}selected{% endif %}>
                                        {{ tag.name }}
                                    </option>
                                {% endfor %}
                            </select>
                            {% set i = i + 1 %}
                        {% endfor %}
                        <select name="tags[{{ i }}]">
                            <option value="0">-- select --</option>
                            {% for tag in tags %}
                                <option value="{{ tag.id }}">{{ tag.name }}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" value="edit">
                    </form>
                    <form action="/article/{{ article.id }}" method="post">
                        <input type="hidden" name="id" value="{{ article.id }}">
                        <input type="submit" value="X">
                    </form>
                </div>
            {% endfor %}

            <h5 class="mt-3">Find articles by tag</h5>
            <form action="/articlesByTags" method="post">
                <select name="tags[0]">
                    <option value="0">-- select --</option>
                    {% for tag in tags %}
                        <option value="{{ tag.id }}">{{ tag.name }}</option>
                    {% endfor %}
                </select>
                <select name="tags[1]">
                    <option value="0">-- select --</option>
                    {% for tag in tags %}
                        <option value="{{ tag.id }}">{{ tag.name }}</option>
                    {% endfor %}
                </select>
                <select name="tags[2]">
                    <option value="0">-- select --</option>
                    {% for tag in tags %}
                        <option value="{{ tag.id }}">{{ tag.name }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="find">
            </form>
        </div>
    </div>
{% endblock %}